*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}
$bg-1: rgb(189, 224, 216);
$bg-2:#63cdda;
$bg-2-light: #778beb;
$color: white;
$linear: linear-gradient(
    
         45deg,
         #f78fb3,
         #3dc1d3
         /*
       #ff6f91,
       #ff9671,
       #ffc75f,
       #f9f871  
       */    
);

body {
    height: 100vh;
    font-family: montserrat, Helvetica, sans-serif;
    background: $linear;
    background-size: 400%;
    animation: bg-animation 20s infinite alternate; 
}

@keyframes bg-animation {
    0% {
        background-position: left;
    } 
    100% {
        background-position: right;
    }
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

}

.body__wrapper {
    max-width: 80rem;
    margin: 1rem auto; 

}


/*CARD*/
.card {
    min-width: 20rem;    
    height: 20vh; 
    display: flex;   
    

    .card__content {
        text-align: center;
        position: relative;
        height: 20vh;
        width: 100%;
        padding: 1rem;
        transition: transform 0.5s;
        background: $bg-2;
        transform-style: preserve-3d;
        
        
    }

    

    .card__front,
    .card__back {
        display: flex;        
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 2rem;
        transform-style: preserve-3d;
    }
    .card__front {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card__title {
        font-size: 2.5rem;
        transform: translateZ(5rem);
        color: $color;
    }
    .card__subtitle {
        margin-top: 1rem;
        font-size: 1rem;
        transform: translateZ(2rem);
        color: $color;
    }
}
.card__avatar {
    min-width: 13rem;
    margin-right: 3rem;
    height: 20vh;     
    background-position: center;
    background-size: cover; 
    //border-top: 0.4rem solid #f8a5c2;
   // border-bottom: 0.4rem solid #303952;
    //border-left: 0.4rem solid #c44569;
    //border-right: 0.4rem solid #574b90;
    padding: 0.5rem;
    
    //animation: rot 2s linear infinite;           
}

.card:hover .card__content {   
    transform: rotateX(0.5turn);
}

.card__back {
    transform: rotateX(0.5turn);
    background-color: $bg-2;
    display: flex;
}



.card__list {    
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    transform: translateZ(6rem);
    flex-grow: 1;


    .card__item {
        width: 33%;
        height: 100%;
        flex-grow: 1;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        display: flex;
        
        
        .card__link {
            text-transform: uppercase;
            text-decoration: none;
            color: inherit;            
        }
        img {
            
        }

    }       
}

@keyframes rot {
 to {
     transform: rotate(360deg);
 }
}



.card__item:hover {
    transform: scale(1.5);
    transition: 300ms;
    cursor: pointer;
    //transform: 
     
}



/*########*/

/*Panel*/

.panel {
    
    margin-top: 3rem;
    width: 100%;
    height: 20vh;
    background: $bg-2;

    display: flex;
    //
}

.panel__button {   
    outline: none;
    flex-grow: 1;
    display: flex;
    outline: none;
    button {
        flex-grow: 1;
        border: none;
        background: transparent;
        color: $color;
        font-size: 3rem;
        font-weight: bold;
        
    }
    &:hover {
        background: $bg-2-light;       
        
        button {

            color: $color; 
        }
    }    

}
.panel--expanded {
    
    flex-direction: column;
    height: 40vh;
    &:focus {
        transition: 250ms;
    }
    .panel__content {
        display: flex;
        flex-grow: 4;
        .panel__list {
            display: flex;
            flex-direction: column;
            .panel__item {
                flex-grow: 1;
                color: $color;
                font-size: 2rem; 
                margin-top: 1rem;           
            }    
        }
    }
    .panel__button {
        flex-grow: 1;
        display: flex;
        button {
            flex-grow: 1;
            border: none;
            background: transparent;
            color: $color;
            font-size: 3rem;
            background: $bg-2-light;
            outline: none;
        }           
    
    }
    
}
.panel--close {
    overflow: hidden;    
    
    .panel__content {        
        transition: 300ms;
        display: none;
        
    }
    
}





/*#################*/


/*Carousel*/

.swiper-container {
    margin-top: 3rem;
    width: 100%;
    height: 45vh;
}



.slide {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;  
    box-sizing: border-box;
}

.slide:hover .slide__button{
    transform: translateY(0);
    transition: transform 400ms;
}

.slide__button:hover .slide__link{
    color: $bg-2;
    background-color: $color;
    transition:  0.8s;
}
.slide__button:hover {
    background-color: $color;
    transition: 0.8s;
}
.slide:hover .slide__title{
    transform: translateY(-30px);
    transition: transform 200ms;
}
.slide:hover .slide__content {
    transform: translateY(-50px);
    transition: transform 300ms;
}

.slide__title {
    color: $color;
    font-size: 3rem;
    margin: 3rem;
    margin-top: 5rem;
}
.slide__content {
    font-size: 1.5rem;
    color: $color;
    margin-top: 2rem;
    margin: 3rem;
    overflow: hidden;
    text-align: left;
    height: 15rem;
    max-width: 75%;
}
.slide__button {
    cursor: pointer;
    padding: 3rem;
    border: 0;
    border: 0.5rem solid $bg-2-light;
    border-bottom: 0;
    background-color: transparent;
    transform: translateY(200px);
    transition: 0.8s;
    display: flex;
    padding: 0;
}

.slide__link {
    margin: 3rem;
    flex-grow: 1;
    font-size: 3rem;
    color: $color;
    text-decoration: none;
}

.slide__background {    
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(5px) brightness(0.4);
}

/*###############*/